<%= content_for :asset_javascript do %>
    <%= javascript_include_tag 'js_crud' %>
<% end %>

<%= render :partial => 'shared/modal_form' %>

<%= provide(:title, 'Detalles de sucursal') %>
<p id="notice"><%= notice %></p>

<div id="info-branch" class="jumbotron">
  <h2 id="branch-name"><%= @branch.name %></h2>
  <i>Dirección: <%= @branch.address %></i>
  <h4 id="company-name">Sucursal de <%= validate_if_nil(@branch, 'company.name') %></h4>
</div>


<div id="admin-container">
  <% if @branch.admin %>
      <%= render 'shared/admin', admin: @branch.admin %>
  <% end %>
</div>

<% if @branch.admin.nil? %>
    <%= render 'shared/new_admin' %>
<% end %>

<div id="computers-container">
  <%= render :partial => 'shared/principal_structure_for_crud_js', locals: { object_class: 'Computer', owner: @branch } %></div>
</div>
<br>
<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
