<%= provide(:title, 'Detalles de sucursal') %>
<p id="notice"><%= notice %></p>

<h3>Sucural de <%= validate_if_nil(@branch, 'company.name') %></h3>

<h4><%= @branch.name %></h4>

<div id="admin-container">
  <% if @branch.admin %>
      <%= render 'shared/admin', admin: @branch.admin %>
  <% end %>
</div>

<% if @branch.admin.nil? %>
    <%= render 'shared/new_admin' %>
<% end %>

<p>
  <strong>Dirección:</strong>
  <%= @branch.address %>
</p>

<!--
<p>
  <strong>Company:</strong>
  <= @branch.company_id %>
</p>
-->

<div class="computers">
  <h3>Computadoras</h3>
  <% @branch.computers.each do |computer| %>
    <div><%= computer.name %></div>
  <% end %>
</div>

<%= link_to 'Crear computadora', new_computer_path(:branch_id => @branch.id) %><br>
<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
