<%= provide(:title, 'Detalles del equipo') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @computer.branch %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
