<%= provide(:title, 'Detalles de la renta') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rent.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @rent.duration %>
</p>

<p>
  <strong>Rent type:</strong>
  <%= @rent.rent_type %>
</p>

<p>
  <strong>Computer:</strong>
  <%= @rent.computer %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
