<button id="crear-administrador" class="btn btn-success btn-lg" data-toggle="modal" data-target="#new-admin">
  <i class="fa fa-user"></i> Crear administrador
</button>

<div class="modal fade" id="new-admin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Creando administrador</h4>
      </div>
      <%= form_for(@user, url: '/users.js', format: :js, remote: true, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
      <div class="modal-body">

            <%= hidden_field_tag :company_id, @company.id if @company %>
            <%= hidden_field_tag :branch_id, @branch.id if @branch %>
            <%= render 'users/form', f: f %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= f.submit 'Guardar usuario', class: 'btn btn-primary' %>
        <% end %>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->