<div id="object-js-<%= branch.class.to_s.tableize %>-<%= branch.id %>" class="object-js-crud object-js-<%= branch.class.to_s.tableize %>">
  <i class='fa fa-building-o'></i>
  <%= link_to "#{branch.name}".html_safe, branch %>
  <small>Dirección: <%= branch.address %></small>

  <%= render partial: 'shared/options_record_js', locals: { class_name_tableize: branch.class.to_s.tableize, object_id: branch.id, owner_class: owner_class } %>

</div>
