<%= provide(:title, 'Empresas') %>

<div id="index-head">
  <h1 id="title">Empresas</h1>
  <%= link_to '<i class="fa fa-plus"></i> Crear empresa'.html_safe, new_company_path, class: 'btn btn-success', id: 'new_company' %>
</div>

<div class="row">
  <% @companies.each do |company| %>
      <div class="col-6 col-sm-6 col-lg-4 company-container">
        <h2><i class="fa fa-bookmark"></i> <%= company.name %></h2>
        <div class="items">
          <div class="item"><i class='fa fa-building-o'></i> Sucursales <span class="badge"><%= company.branches.count %></span></div>
          <div class="item"><i class='fa fa-list'></i> Reglas <span class="badge"><%= company.rules.count %></span></div>
          <div class="item"><i class='fa fa-dot-circle-o'></i> Promociones <span class="badge"><%= company.promotions.count %></span></div>
        </div>
        <p><%= link_to 'Ver detalles »', company, role: 'button', class: 'btn btn-info' %></p>
      </div>
  <% end %>
</div>
