<% content_for :asset_javascript do %>
    <%= javascript_include_tag 'js_crud' %>
<% end %>

<%= provide(:title, 'Detalles de empresa') %>
<p id="notice"><%= notice %></p>

<div id="company-container" class="jumbotron">
  <h2 class="company-name"><%= @company.name %></h2>
  <div class="company-options">
    <%= link_to 'Editar »', edit_company_path(@company), role: 'button', class: 'btn btn-info' %>
    <%= link_to 'Eliminar »', @company, method: :delete, data: { confirm: '¿Está seguro?' }, role: 'button', class: 'btn btn-danger btn-sm' %>
  </div>
</div>

<div id="admin-container">
  <% if @company.admin %>
    <%= render 'shared/admin', admin: @company.admin %>
  <% end %>
</div>

<% if @company.admin.nil? %>
  <%= render 'shared/new_admin' %>
<% end %>


  <div class="items">
    <%= render :partial => 'shared/principal_structure_for_crud_js', locals: { object_class: 'Branch', owner: @company } %>
  </div>
  <div class="items">
    <%= render :partial => 'shared/principal_structure_for_crud_js', locals: { object_class: 'Promotion', owner: @company } %>
  </div>
  <div class="items">
    <%= render :partial => 'shared/principal_structure_for_crud_js', locals: { object_class: 'Rule', owner: @company } %>
  </div>
  <div class="items">
    <%= render :partial => 'shared/principal_structure_for_crud_js', locals: { object_class: 'Product', owner: @company } %>
  </div>

<%= render :partial => 'shared/modal_form' %>
