<% content_for :asset_javascript do %>
    <%= javascript_include_tag 'js_crud' %>
<% end %>

<%= provide(:title, 'Detalles de empresa') %>
<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h2 class="company-name"><%= @company.name %></h2>
</div>
<%= link_to 'Editar »', edit_company_path(@company), role: 'button', class: 'btn btn-info' %>
<%= link_to 'Eliminar »', @company, method: :delete, data: { confirm: '¿Está seguro?' }, role: 'button', class: 'btn btn-danger btn-sm' %>

<br/><br/>
<div id="admin-container">
  <% if @company.admin %>
    <%= render 'shared/admin', admin: @company.admin %>
  <% end %>
</div>

<% if @company.admin.nil? %>
  <%= render 'shared/new_admin' %>
<% end %>

<div class="row">
  <div class="col-lg-4 items">
    <%= render :partial => 'shared/principal_structure_for_crud_js', locals: { object_class: 'Branch', owner: @company } %></div>
  <div class="col-lg-4 items">
    <h2>Promociones</h2>
    <% @company.promotions.order(:id).each do |promotion| %>
        <div class="item"><i class='fa fa-list'></i> <%= link_to "#{promotion.description}".html_safe, promotion %></div>
    <% end %>
    <%= link_to 'Crear promoción', new_promotion_path, class: 'btn btn-primary btn-block', role: 'button' %>
  </div>
  <div class="col-lg-4 items">
    <h2>Reglas</h2>
    <% @company.rules.order(:id).each do |rule| %>
        <div class="item"><i class='fa fa-dot-circle-o'></i> <%= link_to "#{rule.description}".html_safe, rule %></div>
    <% end %>
    <%= link_to 'Crear regla', new_rule_path(company_id: @company.id), class: 'btn btn-primary btn-block', role: 'button' %>
  </div>
</div>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<%= render :partial => 'shared/modal_form' %>
