<%= provide(:title, 'Detalles de empresa') %>
<p id="notice"><%= notice %></p>

<h1 class="company-name"><%= @company.name %></h1>
<%= link_to 'Editar »', edit_company_path(@company), role: 'button', class: 'btn btn-info' %>
<%= link_to 'Eliminar »', @company, method: :delete, data: { confirm: '¿Está seguro?' }, role: 'button', class: 'btn btn-danger btn-sm' %>

<br/><br/>
<div id="admin-container">
  <% if @company.admin %>
    <%= render 'shared/admin', admin: @company.admin %>
  <% end %>
</div>

<% if @company.admin.nil? %>
  <%= render 'shared/new_admin' %>
<% end %>

<div class="row branches">
  <div class="col-lg-4 items">
    <h2>Sucursales</h2>
    <% @company.branches.order(:id).each do |branch| %>
        <div class="item"><i class='fa fa-building-o'></i> <%= link_to "#{branch.name}".html_safe, branch %></div>
    <% end %>
    <%= link_to 'Crear sucursal', new_branch_path, class: 'btn btn-primary btn-block', role: 'button' %>
  </div>
  <div class="col-lg-4 items">
    <h2>Promociones</h2>
    <% @company.promotions.order(:id).each do |promotion| %>
        <div class="item"><i class='fa fa-list'></i> <%= link_to "#{promotion.description}".html_safe, promotion %></div>
    <% end %>
    <%= link_to 'Crear promoción', new_promotion_path, class: 'btn btn-primary btn-block', role: 'button' %>
  </div>
  <div class="col-lg-4 items">
    <h2>Reglas</h2>
    <% @company.rules.order(:id).each do |rule| %>
        <div class="item"><i class='fa fa-dot-circle-o'></i> <%= link_to "#{rule.description}".html_safe, rule %></div>
    <% end %>
    <%= link_to 'Crear regla', new_rule_path, class: 'btn btn-primary btn-block', role: 'button' %>
  </div>
</div>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
