<%= provide(:title, 'Detalles de promoción') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= validate_if_nil(@promotion, 'company.name') %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
