<%= provide(:title, 'Detalles de regla') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @rule.description %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
