<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Cyberclock</title>
  <%= stylesheet_link_tag    'application', "#{params[:controller]}", media: 'all' %>
  <!--%= stylesheet_link_tag    'application', "#{params[:controller]}", media: 'all', 'data-turbolinks-track' => false %-->
  <%= yield :asset_stylesheet %>

  <%= javascript_include_tag 'application', "#{params[:controller]}", 'data-turbolinks-track' => true %>
  <%= yield :asset_javascript %>
  <script>
      //Focus link in navbar
      $(document).ready(function(){ $('.<%= params[:controller] %>-nav-bar').addClass('active'); });
  </script>
  <!--[if lt IE 9]>
  <script src="/assets/respond.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>


<div class="container">

  <!-- Static navbar -->
  <% if current_user %>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Cyberclok', root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if current_user.is_admin? %>
        <li class="companies-nav-bar"><%= link_to 'Empresas', companies_path %></li>
        <% end %>
        <% if current_user.is_admin_company? %>
            <li class="companies-nav-bar"><%= link_to 'Empresa', company_path(Company.find_by_admin_id(current_user)) %></li>
        <% end %>
        <% if current_user.is_admin_branch? %>
            <li class="companies-nav-bar"><%= link_to 'Sucursal', branch_path(Branch.find_by_admin_id(current_user)) %></li>
        <% else  %>
            <li class="branches-nav-bar"><%= link_to 'Sucursales', branches_path %></li>
        <% end %>
        <li class="rules-nav-bar"><%= link_to 'Reglas', rules_path %></li>
        <li class="promotions-nav-bar"><%= link_to 'Promociones', promotions_path %></li>
        <li class="products-nav-bar"><%= link_to 'Productos', products_path %></li>
        <li class="computers-nav-bar"><%= link_to 'Computadoras', computers_path %></li>
        <li class="rents-nav-bar"><%= link_to 'Rentas', rents_path %></li>
        <li class="users-nav-bar"><%= link_to 'Usuarios', users_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--
        <li class="active"><a href="./">Default</a></li>
        <li><a href="#">Static top</a></li>
        -->
        <li><%= link_to current_user.login, current_user, title: current_user.name %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> Opciones <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="companies-nav-bar"><%= link_to 'Empresas', companies_path %></li>
            <li class="branches-nav-bar"><%= link_to 'Sucursales', branches_path %></li>
            <li class="rules-nav-bar"><%= link_to 'Reglas', rules_path %></li>
            <li class="promotions-nav-bar"><%= link_to 'Promociones', promotions_path %></li>
            <li class="computers-nav-bar"><%= link_to 'Computadoras', computers_path %></li>
            <li class="rents-nav-bar"><%= link_to 'Rentas', rents_path %></li>
            <li class="users-nav-bar"><%= link_to 'Usuarios', users_path %></li>
            <li class="divider"></li>
            <li class="dropdown-header">Cuenta</li>
            <!--<li><a href="#">Separated link</a></li>-->
            <li><%= link_to 'Editar usuario', edit_user_path(current_user) %></li>
            <li><%= link_to 'Cerrar sesión', user_session_path, method: :delete %> </li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  <% end %>

  <% flash.each do |key, msg| %>
      <div class="alert alert-<%= key %> alert-dismissable auto-remove">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p><%= msg %></p>
      </div>
  <% end %>

  <%= yield %>
  <!-- Main component for a primary marketing message or call to action -->
  <!--
  <div class="jumbotron">
    <h1>Navbar example</h1>
    <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
    </p>
  </div>
  -->

</div> <!-- /container -->

</body>
</html>
